 .btn{
    margin-right: 40px;
} 

.fa-shopping-cart{
    font-size: 35px;
    position: relative;
    color:#4B3049
}
.cart-value{
    top:10px;
    padding:auto;
    right:265px;
    position:absolute;
    color:white;
    text-align: center;
    width: 20px;
    height:20px;
    background-color:#b08ead;
    border-radius: 50%;
}