.login_container{
    width: 100%;
    height:400px;
    background-color: #b08ead;
    display: flex;
}

.login_container h1{
    font-size: 50px;
    color:white;
    margin: auto;
}

.section_padding{
    padding-top:200px;
    padding-bottom: 200px;
}
.createAcc{
    flex: 0 0 50%;
    max-width: 50%;
    background-image: -moz-linear-gradient(90deg,#B08EAD 0%,#4B3049 64%,#B08EAD 100%);
    background-image: -webkit-linear-gradient(
90deg
,#B08EAD 0%,#4B3049 64%,#B08EAD 100%);
    background-image: linear-gradient(
90deg
,#B08EAD 0%,#4B3049 64%,#B08EAD 100%);
    background-size: 200% auto;
    padding: 18% 70px;
    height: 600px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.createAcc h2{

    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    color: #fff;
    margin-bottom: 17px;
}

.createAcc p{
    color: #fff;
    line-height: 25px;
}
.btn_3{
    border: 1px solid #fff;
    background-color: transparent;
    font-size: 14px;
    margin-top: 28px;
    color: #fff!important;
    display: inline-block;
    padding: 18px 36px;
    border-radius: 5px;
    text-transform: uppercase;
}
.login{
    padding: 80px 95px;
    height: 600px;
    display: table;
}

.login_inner{
    display: table-cell;
    vertical-align: middle;
    

}
.login .btn_3{
    display: flex;
    width: 100%;
    margin: 30px 0 17px;
    padding: 18px 36px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid #b08ead;
    font-size: 15px;
    font-weight: 700;
    color: #b08ead;
    text-transform: uppercase;
    font-weight: 400;
    -webkit-transition: .5s;
    transition: .5s;
}
.button{
    flex: 0 0 100%;
    max-width: 100%;
}

.login_inner h3{
    font-size: 26px;
    line-height: 36px;
    font-weight: 700;
    margin-bottom: 80px;
}

.form{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.fields{
    display: inline-block;
    position: relative;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 1rem;
}

input {
    border: 0 solid transparent;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    background: #fff;
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
     transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}