div{
    display: block;
}
.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    max-width: 1170px;
}
.banner_part {
    position: relative;
    height: 782px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    box-sizing: border-box;
}
.text_container{
    margin-left: 200px;
    width: 520px;
}
.btn_1 {
    text-decoration: none;
    display: inline-block;
    padding: 17px 50px;
    border-radius: 5px;
    background-color: #b08ead;
    border: 2px solid #b08ead;
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
    color: #fff;
}
.btn_1:hover{
    text-decoration: none;
    background-color: white;
    border: 2px solid #b08ead;
    -webkit-transition: .5s;
    transition: .5s;
    color: #b08ead;
}

.banner_part .banner_img {
    position: absolute;
    right: 0;
    top: 0;
    max-width: 55%;
}

.pattern_img {
    position: absolute;
    left: -133px;
    bottom: 0;
}
.banner_part::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -47px;
    background-color: #b08ead;
    width: 187px;
    height: 618px;
}
.banner_part h1 {
    font-size: 9vh;
    font-weight: 500;
    line-height: 78px;
    margin-bottom: 10px;
}

.banner_part p{
    font-size: 23px;
}

 img.banner{
    height: 100%;
    width: 100%;
    float: right;
} 
.img_fluid{
    max-width: 35%;
    height: auto;
}
.img_banner{
    margin-top:30px;
    height: 100%;
    float:right;
}

@media screen and (max-width:1400px){
.banner_part:after{
    content: none;
}
}


/* .single_product_list {
    padding: 200px 0 100px;
}

.single_product_list .single_product_iner {
    margin-bottom: 100px;
}
.single_product_list .single_product_iner:nth-child(2n-2) .row {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 140px;
}
.single_product_list .single_product_img {
    position: relative;
    margin: 35px 0 0 35px;
}
.single_product_list .single_product_content h5 {
    font-weight: 500;
    font-size: 20px;
    color: #b08ead;
}
.single_product_list .single_product_content h2 {
    font-size: 40px;
    line-height: 1.5;
    font-weight: 500;
    margin: 10px 0 50px;
}
.single_product_list .single_product_content h2 a {
    color: #4b3049;
}
.single_product_list .single_product_img .product_overlay {
    position: absolute;
    left: -35px;
    top: -35px;
    z-index: -1;
}
.btn_3 {
    display: inline-block;
    padding: 18px 36px;
    text-decoration: none;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid #b08ead;
    font-size: 15px;
    font-weight: 700;
    color: #b08ead;
    text-transform: uppercase;
    font-weight: 400;
    -webkit-transition: .5s;
    transition: .5s;
    

}

.btn_3:hover  {
    background-color: #b08ead;
    color:white;
    text-decoration: none;
    -webkit-transition: .5s;
    transition: .5s;
}

.section2 {
    -ms-flex-align: center!important;
    align-items: center!important;
    -ms-flex-pack: justify!important;
    justify-content: space-between!important;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    box-sizing: border-box;
} */
