.checkout_form{
   
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.field-1{
    margin-bottom: 20px;
    display: inline-block;
    position: relative;
    flex: 0 0 50%;
    max-width: 50%;
    padding:0 15px;
}
.checkout_form input{
    border-radius: 3px;
    color: #795376;
}

.checkout_form input:disabled{
    background-color: rgb(238, 238, 238);
}
.field-1 .input{
    border: 1px solid #eee;
    font-size: 14px;
    height: 40px;
    display: block;
    width: 100%;
    /* height: calc(1.5em + .75rem + 2px); */
    padding: .375rem .75rem;
    /* font-size: 1rem; */
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    /* border: 1px solid #ced4da; */
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.field-1 select{
    border: 1px solid #eee;
    font-size: 14px;
    height: 40px;
    display: block;
    width: 100%;
    background-color: #fff;
    color: #495057;
}
.field-2{
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    display: inline-block;
    position: relative;
    margin-bottom: 20px;
    padding: 0 15px
}
.field-2 .input{
    border: 1px solid #eee;
    font-size: 14px;
    height: 40px;
    display: block;
    width: 100%;
    /* height: calc(1.5em + .75rem + 2px); */
    padding: .375rem .75rem;
    /* font-size: 1rem; */
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    /* border: 1px solid #ced4da; */
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.checkout_text{
    padding: 0 15px;
    width: 100%;
}
.checkout_text textarea{
    flex: 0 0 100%;
    max-width: 100%;
    height: 150px;
    border-radius: 3px;
    margin-top: 15px;
    border: 1px solid #eee;
    font-size: 14px;
    display: block;
    width: 100%; 
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}