.sel-sort{
    background-color: #f4edf2;
    border-radius: 50px;
    border: 1px solid #f4edf2;
    padding: 13px 25px;
    color:grey;
    width: 100%;
    line-height: 22px;
    box-sizing: border-box;
    background-image: 
    linear-gradient(45deg, transparent 50%, gray 50%), 
    linear-gradient(135deg, gray 50%, transparent 50%), 
    linear-gradient(to right, #ccc, #ccc);
    background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.7em;
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;
}

select{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
}

select.sel-sort:focus {
    background-image:
      linear-gradient(45deg,  grey 50%, transparent 50%),
      linear-gradient(135deg, transparent 50%,  grey 50%),
      linear-gradient(to right, #ccc, #ccc);
    background-position:
      calc(100% - 15px) 1em,
      calc(100% - 20px) 1em,
      calc(100% - 2.5em) 0.5em;
    background-size:
      5px 5px,
      5px 5px,
      1px 1.5em;
    background-repeat: no-repeat;
    outline: 0;
  }
  
  
  select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
  }

