.NavigationItem {
    margin: 10px 0;
    box-sizing: border-box;
    list-style: none;
    display: block;
    width: 100%;
    padding: 16px;  
}

.NavigationItem a {
    color: #726f6d;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
}
.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
    color: #0aa9e2;
}

@media (min-width: 500px) {
    .NavigationItem {
        margin: 0;
        display: flex;
        height: 100%;
        width: auto;
        align-items: center;
    }
    
    .NavigationItem a {
        color: black;
        height: 100%;
        padding: 16px 10px;
        /* border-bottom: 4px solid transparent; */
    }
    
    .NavigationItem a:hover,
    .NavigationItem a:active,
    .NavigationItem a.active {
        /* border-bottom: 4px solid #836080; */
        color: #836080;
        transition: all 0.5s ease-in;
    }
}