.search input{
        background-color: #f4edf2;
        border-radius: 50px;
        border: 1px solid #f4edf2;
        padding: 13px 25px;
        width: 100%;
        line-height: 22px;
        box-sizing: border-box;
        margin-bottom: 30px;
}

input:focus{
    outline: none;
}